/* General */
h1 {
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

h2 {
    text-align: center;
    padding: 20px 0;
}

.card {
    width: 50%;
}


/* Undone task */

.line-through {
    text-decoration: line-through;
}

.trash {
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.tick {
    border: 1px solid gray;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.tick:hover {
    scale: 1.2;
}

.ticked {
    border: 6px solid green;
}

.ticked-trash {
    border: 1px solid green;
    color: white;
    background-color: red;
}

.trash:hover {
    scale: 1.2;
}


/* Done Task */

.content-done-task {
    opacity: 0.5;
}

.content-done-task:hover {
    opacity: 1;
}

.element-content-done-task {
    display: block;
}

.none-element-content-done-task {
    display: none;
}