.line-through {
    text-decoration: line-through;
}

.trash {
    border: 1px solid gray;
    width: 25px;
    height: 25px;
}

.tick {
    border: 1px solid gray;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.ticked {
    border: 6px solid green;
}

.ticked-trash {
    border: 1px solid green;
}